APP_PORT=8088
POSTGRES_DB=era_erp
POSTGRES_USER=era
POSTGRES_PASSWORD=troque-esta-senha-do-banco
ADMIN_INITIAL_NAME=Administrador ERA
ADMIN_INITIAL_LOGIN=admin
ADMIN_INITIAL_PASSWORD=troque-esta-senha-inicial
SESSION_TIMEOUT=30m
