APP_DOMAIN=tools.eraltda.com.br
PUBLIC_APP_URL=https://tools.eraltda.com.br
APP_TIMEZONE=America/Manaus
API_IMAGE=ghcr.io/marcusv614/era-gerenciador-equipamentos-api:latest
UI_IMAGE=ghcr.io/marcusv614/era-gerenciador-equipamentos-ui:latest

POSTGRES_DB=era_erp
POSTGRES_USER=era
POSTGRES_PASSWORD=substitua-por-uma-senha-longa-e-aleatoria

ADMIN_INITIAL_NAME=Administrador ERA
ADMIN_INITIAL_LOGIN=admin
ADMIN_INITIAL_PASSWORD=substitua-por-outra-senha-longa-e-aleatoria

SESSION_TIMEOUT=30m
